h1 {
    padding: 50px 20px 30px 20px;
    text-align: center;
}

h2 {
    padding: 10px; 
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none !important;
    color:black !important;
}

.icon {
    font-size: 3em;
}

.blank-space {
    height: 150px;
}

.flex-content {
    display: flex;
    align-items: center;
}

.table {
    display: flex;
    align-items: center;
}

#about {
    padding: 10px;
}

#portfolio {
    padding-top: 150px;
}

#contact {
    padding: 20px;
}

#jacob-picture {
    height: 50%;
    width: 50%;
}